[프로젝트 개요] 
openweather api를 활용한 날씨 정보 웹 사이트
api url = https://home.openweathermap.org/api_keys

[프로젝트 기본 구조]
📂 my_project/
├── index.html -> 시각화 페이지 
├── styles.css -> 디자인 
├── script.js -> backend 기능 구현 
└── requirements.txt → 프로젝트 설명 + 필요한 패키지 목록

[프로젝트 주요 기능] 
1. openweather api를 통해 수집한 데이터를 시각화 
2. 웹 대시보드 구현 

