* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #626c703a;
    font-family: Arial, sans-serif;
}

.weather-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 1000px;
    height: 600px;
}

h1 {
    margin-bottom: 15px;
}

input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#weather-info {
    margin-top: 15px;
    font-size: 18px;
}

/*footer*/ 
.footer-content{
    margin: 0 auto;
    font-size : 11px;
    color :  #4d524d;
}

